@* @model NS.FRN.Models.LoginModel;
@{

}

<h2 class="text-center">Login Page</h2>
@using (Html.BeginForm("LoginPge", "Account", FormMethod.Post, new {id="formRegistration",enctype="multipart/form-data"}))
{
<div class="form-group">
 
    <div class="col-md-9">
     
      @Html.TextBoxFor(x =>x.Email, "", new { @class = "form-control", placeholder = "Email" })
    @Html.ValidationMessageFor(x => x.Email,"",new{@class="text-danger"})
   </div>
</div>
<br/>

      <div class="col-md-9">
      @Html.TextBoxFor(x =>x.Password, "", new { @class = "form-control", placeholder = "Password" })
    @Html.ValidationMessageFor(x => x.Password,"",new{@class="text-danger"})
   </div>
   <div>
        <button type="Submit">login</button>
        
   </div>

} *@
@model NS.FRN.Models.LoginModel;
@{    Layout= "../../views/shared/_Layout3.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h1 class="h3 mb-0">Login</h1>
                </div>
@using (Html.BeginForm("LoginPage", "Account", FormMethod.Post, new {id="formRegistration",enctype="multipart/form-data"}))
{
  <span class="text-danger">@ViewData["Errormsg"]</span> 
<div class="form-group">
   <label for="Email" class="col-md-3 control-label">Email</label>
    <div class="col-md-9">
      @Html.TextBoxFor(x =>x.Email, "", new { @class = "form-control", placeholder = "Email" })
    @Html.ValidationMessageFor(x => x.Email,"",new{@class="text-danger"})
   </div>
</div>
<br/>
<div class="form-group">
   <label for="Password" class="col-md-3 control-label">Password</label>
    <div class="col-md-9">
      @Html.PasswordFor(x =>x.Password, new { @class = "form-control", placeholder = "password" })
    @Html.ValidationMessageFor(x => x.Password,"",new{@class="text-danger"})
   </div>
</div>
<br/>
<div class="col-md-offset-3 col-md-9">
   <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Login</button>
   <span style="margin-left:8px;"></span>
</div>
                    <p class="text-center">Don't have an account? <a asp-area="" asp-controller="Account" asp-action="User">Sign up now</a></p>
}
            </div>
        </div>
    </div>
</div>